* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #141850;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Varela Round', sans-serif;
}

.header {
  padding: 20px 0 30px 0;
  align-self: center;
}

.container {
  background-color: #303179;
  display: flex;
  align-self: center;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 2px 2px 5px;
}

.board {
  width: auto;
  margin-right: 100px;
}

.board__head {
  display: inline-flex;
  margin-bottom: 15px;
}

.board__title {
  padding-right: 20px;
}

.board__refresh {
  box-shadow: 1px 1px 1px;
  border: none;
  border-radius: 6px;
  padding: 0 3px;
  background: #ed7966;
  color: white;
}

.board__content {
  border: 2px black solid;
  list-style: none;
  border-radius: 12px;

}

.board__item {
  padding: 3px 10px;
}

.board__item:nth-of-type(2n + 2) {
  background-color: #ed7966;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  margin-bottom: 15px;
}

.form input {
  margin: 0 0 10px 0;
  border-radius: 6px;
  padding: 3px 5px;
}

.form__submit {
  width: fit-content;
  align-self: flex-end;
  box-shadow: 1px 1px 1px;
  border: none;
  border-radius: 6px;
  padding: 2px 3px;
  background: #ed7966;
  color: white;
}

@media only screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }

  .board {
    margin-bottom: 50px;
  }
}
